@import '@fontsource/fira-mono';

:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: rgb(0, 0, 0);
	--color-bg-1: #070707;
	--color-bg-2: #303030;
	--color-theme-1: #ffea6e;
	--color-theme-2: #4075a6;
	--color-text: rgba(255, 255, 255, 1);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-1);
	background-size: 100vw 100vh;
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.img {
	width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
}

.vault {
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid #ccc;
}

.subsection {
	margin-bottom: 1em;
    padding: 1em;
    border: 1px solid #ccc;
}

.vault-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
  }

  .vault-card {
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
  }

  .vault-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 8px;
  }

  .vault-details {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .vault-details-content {
    background: var(--color-bg-2);
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    max-height: 80vh; /* Set a max-height */
    overflow-y: auto; /* Enable vertical scrolling */
    width: 100%;
    position: relative;
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }

  .vault-border {
    border: 1px solid #ccc;
  }

  .chart-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.chart-wrapper {
	flex: 1 1 45%; /* Each chart-wrapper takes up 45% of the container's width */
	max-width: 700px;
	margin: 10px;
	display: flex;
	flex-direction: column; /* Stack button on top of chart */
	align-items: center; /* Center align the button and chart */
}

.chart {
	width: 100%; /* Ensure the chart takes full width of the wrapper */
}

@media (max-width: 1200px) {
	.chart-wrapper {
		flex: 1 1 100%; /* On smaller screens, each chart-wrapper takes up full width */
	}
}

.toggle-button {
	margin-bottom: 10px;
	padding: 8px 16px;
	background-color: #303030;
	color: white;
	border-color: var(--color-theme-1);
	cursor: pointer;
	font-size: 14px;
	border-radius: 4px;
}

.toggle-button:hover {
	background-color: white;
	border-color: black;
	color: #000;
	box-shadow: 0 0 10px var(--color-theme-1);
}